# Generated for inspect_step template preview
host={{ inventory_hostname }}
port={{ app_port }}
color={{ host_color }}
endpoint={{ app_root }}/{{ app_name }}:{{ app_port }}
destination={{ template_destpath }}

host={{ inventory_hostname }}
port={{ app_port }}
color={{ host_color }}
endpoint={{ app_root }}/{{ app_name }}:{{ app_port }}
destination={{ template_destpath }}
host={{ inventory_hostname }}
port={{ app_port }}
color={{ host_color }}
endpoint={{ app_root }}/{{ app_name }}:{{ app_port }}
destination={{ template_destpath }}
